<div class="container"> <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form"> <div class="logo-center">
      <div class="logo">
        <img src="assets/Logos/Ready-Crop-Logo-Transparent.ico" alt="Ready Crop Logo" id="logo">
      </div>
    </div>

    <h2 class="form-title">Retailer Login</h2>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="input-container">
      <label>Email Address</label>
      <div class="inputForm">
        <input type="email" formControlName="email" placeholder="email@example.com" class="input">
      </div>
    </div>

    <div class="input-container">
      <label>Password</label>
      <div class="inputForm">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="********" class="input">
        <span class="eye-icon" (click)="togglePassword()">
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
          </svg>
        </span>
      </div>
    </div>

    <p class="p" (click)="onForgotPasswordClick()" style="cursor: pointer; text-align: right; margin-top: -10px;">
      Forgot Password?
    </p>

    <button type="submit" [disabled]="loginForm.invalid || loading" class="button-submit">
      <span *ngIf="!loading">Login</span>
      <span *ngIf="loading" class="loader"></span>
    </button>

    <p class="p">
      Don't have an account? 
      <span class="login-link" (click)="onSignupClick()" style="cursor: pointer; color: blue;">
        Sign Up
      </span>
    </p>
  </form>
</div>